@model CrudOperationUsingEF.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<ul>
   
    <li>Membership Type: <strong> @Model.MembershipType.Name</strong></li>
</ul>



