@model IEnumerable<CrudOperationUsingEF.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
       We dont have any customer yet.
    </div>
}
<table class="table table-hover">
    <thead>
        <tr>

            <th >Customer Name</th>
            <th >Membership Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>

                <td>@Html.ActionLink(customer.Name,"Details",new {id=customer.Id },null)</td>
            <td>@customer.MembershipType.Name</td>
            </tr>
        }

    </tbody>
</table>